05 04 22 00
1
24.854 49.976 5531.1
240
0
10000.0
8
../data/gdas1-new/
gdas1.jun05.w1
../data/gdas1-new/
gdas1.may05.w2
../data/gdas1-new/
gdas1.may05.w5
../data/gdas1-new/
gdas1.may05.w4
../data/gdas1-new/
gdas1.may05.w3
../data/gdas1-new/
gdas1.apr05.w5
../data/gdas1-new/
gdas1.apr05.w4
../data/gdas1-new/
gdas1.may05.w1
./
Kunming2_ALT1500m.2005050200REVERSE
