05 04 20 21
1
-7.525 128.002 779.7
240
0
10000.0
8
../Forcing/gdas1-new/
gdas1.mar05.w4
../Forcing/gdas1-new/
gdas1.mar05.w5
../Forcing/gdas1-new/
gdas1.apr05.w1
../Forcing/gdas1-new/
gdas1.apr05.w2
../Forcing/gdas1-new/
gdas1.apr05.w5
../Forcing/gdas1-new/
gdas1.apr05.w4
../Forcing/gdas1-new/
gdas1.apr05.w3
../Forcing/gdas1-new/
gdas1.may05.w1
./
Singapore_ALT1000m.2005043021REVERSE
