20 09 26 00
1
3.344 116.523 104.3
240
0
10000.0
8
../data/gdas1-new/
gdas1.oct20.w4
../data/gdas1-new/
gdas1.oct20.w3
../data/gdas1-new/
gdas1.oct20.w2
../data/gdas1-new/
gdas1.oct20.w5
../data/gdas1-new/
gdas1.nov20.w1
../data/gdas1-new/
gdas1.sep20.w5
../data/gdas1-new/
gdas1.sep20.w4
../data/gdas1-new/
gdas1.oct20.w1
./
test-August_27_October_06_6000m_ALT6000m.2020100600REVERSE
